
  
<app-home-header></app-home-header>

<ion-content >



      
        
              <ion-card style="margin-top: 80px;height: 52%;">
                <button style="position: absolute;top: 40%;left: 16px;font-size: 25px;z-index: 2;" class="button" (click)="slidePrev()">
                  <i class='ti-angle-left' style="color: white;"></i>
                </button>
                <button style="position: absolute;top: 40%;right: 16px;font-size: 25px;z-index: 2;" class="button" (click)="slideNext()">
                 
                  <i class='ti-angle-right' style="color: white;"></i>
                </button>
                <ion-slides  [options]="slideOpts" paginationType="bullets" class="full-width">
                  <ion-slide carouselSlide>
                    <img src="https://study-eu.s3.amazonaws.com/uploads/image/path/383/wide_fullhd_48144084411_469615a2bc_o.jpg" >
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="https://study-eu.s3.amazonaws.com/uploads/image/path/383/wide_fullhd_48144084411_469615a2bc_o.jpg " >
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="https://study-eu.s3.amazonaws.com/uploads/image/path/383/wide_fullhd_48144084411_469615a2bc_o.jpg  " >
                  </ion-slide>
                </ion-slides> 
              </ion-card>
         





        <ion-grid > 
          <ion-row  >
            <ion-col >
              <ion-card >
                <h5 style="color:gray">GoldSpot Subscriptions</h5>
                <button style="position: absolute;top: 40%;left: 16px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slidePrev()">
                  <i class='ti-angle-left' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <button style="position: absolute;top: 40%;right: 1px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slideNext()">
                 
                  <i class='ti-angle-right' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <ion-slides  [options]="slideOpts1" paginationType="bullets" class="full-width">
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                </ion-slides> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-grid > 
          <ion-row  >
            <ion-col >
              <ion-card >
                <h5 style="color:gray">My Subscriptions</h5>
                <button style="position: absolute;top: 40%;left: 16px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slidePrev()">
                  <i class='ti-angle-left' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <button style="position: absolute;top: 40%;right: 1px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slideNext()">
                 
                  <i class='ti-angle-right' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <ion-slides  [options]="slideOpts1" paginationType="bullets" class="full-width">
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                </ion-slides> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid > 
          <ion-row  >
            <ion-col >
              <ion-card >
                <h5 style="color:gray">Free Subscriptions</h5>
                <button style="position: absolute;top: 40%;left: 16px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slidePrev()">
                  <i class='ti-angle-left' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <button style="position: absolute;top: 40%;right: 1px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slideNext()">
                 
                  <i class='ti-angle-right' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <ion-slides  [options]="slideOpts1" paginationType="bullets" class="full-width">
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                </ion-slides> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid > 
          <ion-row  >
            <ion-col >
              <ion-card >
                <h5 style="color:gray">Public Subscriptions</h5>
                <button style="position: absolute;top: 40%;left: 16px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slidePrev()">
                  <i class='ti-angle-left' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <button style="position: absolute;top: 40%;right: 1px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slideNext()">
                 
                  <i class='ti-angle-right' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <ion-slides  [options]="slideOpts1" paginationType="bullets" class="full-width">
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                </ion-slides> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
   

        <ion-grid > 
          <ion-row  >
            <ion-col >
              <ion-card >
                <h5 style="color:gray">Private Subscriptions</h5>
                <button style="position: absolute;top: 40%;left: 16px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slidePrev()">
                  <i class='ti-angle-left' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <button style="position: absolute;top: 40%;right: 1px;font-size: 25px;z-index: 2;background: transparent;"  (click)="slideNext()">
                 
                  <i class='ti-angle-right' style="color: rgb(6, 88, 121);font-size: 40px;stroke-width: 2px;"></i>
                </button>
                <ion-slides  [options]="slideOpts1" paginationType="bullets" class="full-width">
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                  <ion-slide carouselSlide>
                    <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
                  </ion-slide>
                </ion-slides> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
   

<!-- adddd new goldspot subcribtion -->

<!-- <div class="row grid-margin" style="margin-left: 20px;margin-right: 0.5px;">
<div class="col-lg-12">
  
    
  </div>
</div> -->
<!--   
<ion-grid>
  <ion-row>
    <ion-col>
      <h5 style="color:gray">GoldSpot Subscriptions</h5>
    <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
    </ion-col>
  </ion-row>
</ion-grid>




Student1 subcribtion

 <div class="row grid-margin" style="margin-left: 20px;margin-right: 0.5px;">
<div class="col-lg-12">
 <h5 style="color:gray">My Subscriptions</h5>
 <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>

<ion-grid>
  <ion-row>
    <ion-col>
      <h5 style="color:gray">My Subscriptions</h5>
    <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
    </ion-col>
  </ion-row>
</ion-grid>


Free subcribtion

 <div class="row grid-margin" style="margin-left: 20px;margin-right: 0.5px;">
<div class="col-lg-12">

    <h5 style="color:gray">Free Subscriptions</h5>
    <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
  </div>
</div> 

<ion-grid>
  <ion-row>
    <ion-col>
      <h5 style="color:gray">Free Subscriptions</h5>
    <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
    </ion-col>
  </ion-row>
</ion-grid>




Public subcribtion

 <div class="row grid-margin" style="margin-left: 20px;margin-right: 0.5px;">
<div class="col-lg-12">

    <h5 style="color:gray" >Public Subscriptions</h5>
    <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
  </div>
  </div> 

  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 style="color:gray">Public Subscriptions</h5>
      <owl-carousel-o [options]="carouselOption3" class="full-width">
        <ng-template carouselSlide>
          <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
        </ng-template>
      </owl-carousel-o>
      </ion-col>
    </ion-row>
  </ion-grid>




Private subcribtion

 <div class="row grid-margin" style="margin-left: 20px;margin-right: 0.5px;">
<div class="col-lg-12">
    <h5 style="color:gray">Private Subscriptions</h5>
    <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
  </div>
</div> 

<ion-grid>
  <ion-row>
    <ion-col>
      <h5 style="color:gray">Private Subscriptions</h5>
    <owl-carousel-o [options]="carouselOption3" class="full-width">
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_1.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_2.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_3.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_4.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_5.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_6.jpg" height="185" width="200" alt="image"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/carousel/banner_7.jpg" height="185" width="200" alt="image"/>
      </ng-template>
    </owl-carousel-o>
    </ion-col>
  </ion-row>
</ion-grid> -->

<hr>
<app-footer></app-footer>

</ion-content>
<!--deleted new-->




<!-- <ion-card style="height:100%">
 <ion-card-header>
   <h3>corosal</h3>
   <h3>hellooooo</h3>
  </ion-card-header>
 <ion-card-content>
<h4 class="card-title">Basic carousel</h4>
  <owl-carousel-o [options]="carouselOption1" class="full-width">
    <ng-template carouselSlide>
  
      <img src="https://via.placeholder.com/449x312" alt="image" />
    
    </ng-template>
    <ng-template carouselSlide>
     
      <img src="https://via.placeholder.com/449x312" alt="image" />
    
    </ng-template>
    <ng-template carouselSlide>
     
      <img src="https://via.placeholder.com/449x312" alt="image" />
    
    </ng-template>
  </owl-carousel-o>
 </ion-card-content>

</ion-card> -->


<!-- <div id="container">
<ion-button (click)="login()">Login</ion-button>
</div> -->
<!-- <footer class="footer"> -->

<!-- </footer> -->

