button {
    background-color:gray;
    background-repeat:no-repeat;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor:pointer;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    outline:none;
}
